@import "./reset.scss";

.box {
    overflow: hidden;
    width: 300px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    .box__brand {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        padding-bottom: 0;
        margin: 5px 0px;
        .box__brand--left {
            display: flex;
            .brand__logo--left{
                margin-top: 2px;
            }
        }
        .brand__text--left {
            margin-left: 7px;
            margin-top: 3px;
            .text--content {
                color: #236c62;
                line-height: 16.41px;
            }
        }
    }
    .box__content {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        .content__border {
            width: 10px;
            height: 77px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(207, 239, 235, 0.141667) 41.67%, rgba(0, 0, 0, 0) 100%), #20C8A7;
        }
        .content__image {
            width: 280px;
            height: 157px;
            background-color: #e5e5e5;
        }
    }

    .box__carousel {
        margin: 0 10px;
        height: 332px;
        overflow: hidden;
        position: relative;
        .line__item {
            border-top: 1px dotted #e5e5e5;
        }
        .control {
            position: absolute;
            z-index: 10;
            width: 100%;
            height: 10px;
            margin-left: 2px;
            display: flex;
            padding-bottom: 10px;
        }
        .control__text {
            .text__content {
                font-size: 14px;
                font-weight: 500;
                color: #4e4e4e;
            }
        }
        .line__container {
            width: 100%;
            &.line--top{
                margin-top: 7px;
            }
        }
        .control__button {
            margin-left: 9px;
            display: flex;
        }
        .button__item {
            cursor: pointer;
            margin-right: 5px;
            width: 16px;
            height: 10px;
            padding-top:6px;
            line-height: 16px;
            text-align: center;
            background-color: #20c8a866;
            &.active {
                background-color: #20c8a8;
            }
        }
        .carousel__container {
            position: absolute;
            top: 14px;
            height: 94%;
            overflow-y: auto;
            scroll-snap-type: y mandatory;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .carousel__item {
            .item__container {
                padding: 9px 0 4px;
                display: flex;
            }
        }

        .item__left {
            margin-right: 10px;
        }
        .carousel__item--image {
            width: 79px;
            height: 79px;
            .item__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .item__right {
            .carousel__item--text {
            }
            .item__title {
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 5px;
                color: #222222;
            }
            .item__detail {
                font-size: 12px;
                font-weight: 400;
                color: #656565;
                margin-bottom: 24px;
            }
            .carousel__item--button {
                display: flex;
                justify-content: end;
            }
            .btn__item {
                color: #007880;
                background-color: white;
                border: none;
                cursor: pointer;
            }
        }
    }
    .box__note {
        // width: 100%;
        height: 40px;
        .note__content {
            margin: 10px 14px;
          
            .note__text {
                font-size: 10px;
                color: #A5A5A5;
                font-weight: 700;
                font-style: italic;
            }
            .note__text--small {
                font-weight: 300;
                opacity: 0.9;
            }
        }
    }
}
