@import "./reset.scss";

.box {
    overflow: hidden;
    width: 660px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    .box__brand {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        padding-bottom: 0;
        .box__brand--left {
            display: flex;
        }
        .brand__text--left {
            margin-left: 7px;
            margin-top: 3px;
            .text--content {
                color: #236c62;
                line-height: 16.41px;
            }
        }
        .box__logo--right{
            .box__logo--item{
                width: 120px;
                height: 26px;
                border-radius: 10px;
                background: radial-gradient(143.96% 215.88% at 45.83% 54.55%, rgba(11, 24, 27, 0.5) 0%, rgba(24, 121, 104, 0.5) 51.28%, rgba(0, 200, 164, 0.5) 100%), #20C8A7;
                text-align: center;
                
            }
            .logo--text{
                line-height: 25px;
                font-size: 11px;
                color: #fff;
            }
        }
    }
    .box__content {
        display: flex;
        align-items: flex-end;
        .content__border {
            width: 18px;
            height: 133px;
            margin-bottom: 26px;
            background: radial-gradient(143.96% 215.88% at 45.83% 54.55%, rgba(11, 24, 27, 0.5) 0%, rgba(24, 121, 104, 0.5) 51.28%, rgba(0, 200, 164, 0.5) 100%), #20C8A7;
        }
        .content__image {
            margin-bottom: 25px;
            width: 304px;
            height: 171px;
            background-color: #e5e5e5;
            box-shadow: 0px 4px 4px rgba(185, 185, 185, 0.25);
        }
    }

    .box__carousel {
        width: 302px;
        height: 207px;
        // overflow: hidden;
        position: relative;
        .control {
            position: absolute;
            bottom: -18px;
            left: 50%;
            transform: translateX(-50%);
            .control__container {
                display: flex;
                list-style: none;
             

            }
            .control__item {
                width: 6px;
                height: 6px;
                margin-right: 6px;
                border-radius: 50%;
                background-color: #cecece;
                &.active {
                    background-color: #656565;
                }
            }
        }
        .carousel__content{
            display: flex;
            width: 300%;
            transition: all 0.5s;
        }
        .carousel__container {
            padding: 1px;
            overflow: hidden;
        }
        .carousel__item {
            display: flex;
            width: 300px;
            height: 205px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0px 0px 7px rgba(136, 136, 136, 0.25);
        }
        .carousel__item--image {
            width: 123px;
            height: 123px;
            margin: 13px;
            .item__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .item--description{
                margin-top: 10px;
                font-size: 14px;
                color: #222;
                font-weight: 500;
            }
        }
        .carousel__item--text {
            margin-top: 8px;
            width: 142px;
            .text__style{
                font-size: 13px;
                line-height: 15px;
                color: #474747;
                font-weight: 400;
                margin-bottom: 15px;
            }
         
        }
        .carousel__item--button {
            text-align: center;
            .btn__item {
                border: none;
                color: white;
                font-weight: 700;
                padding: 5px 12px;
                text-align: center;
                font-size: 10px;
                border-radius: 10px;
                cursor: pointer;
                background: radial-gradient(
                        143.96% 215.88% at 45.83% 54.55%,
                        rgba(11, 24, 27, 0.5) 0%,
                        rgba(24, 121, 104, 0.5) 51.28%,
                        rgba(0, 200, 164, 0.5) 100%
                    ),
                    #20c8a7;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            // width: ;
        }
    }
    .box__note {
        width: 50%;
        .note__content {
            margin: 0 18px;
            .note__text {
                font-size: 10px;
                color: #656565;
                font-weight: 700;
                font-style: italic;
            }
            .note__text--small {
                font-weight: 300;
                opacity: 0.9;
            }
        }
    }
}
