<div class="gk_home20-wrapper">
    <div class="gknews_box" type="newest">
        <div class="noticeable-news">
            <h3>
                <a href="%linkBrand%" title="%titleBrand%" class="noticeable-news-title">%titleBrand%</a>
            </h3>
            <ul class="list-nn" algid="22" boxid="4" dspid="61">
                <li class="nn-item first-noticeable-news" ispopup="1" style="display: list-item;">
                    <div class="item-gr">
                        <div class="item-news">
                            <a data-url="%linkItem1%" href="%linkItem1%" title="%titleItem1%" class="item-news-thumb">
                                <i><img src="%linkImgItem1%" alt="%titleItem1%"></i>
                            </a>
                            <h4>
                                <a data-url="%linkItem1%" href="%linkItem1%" title="%titleItem1%"
                                    class="item-news-title">%titleItem1%</a>
                            </h4>
                        </div>
                    </div>
                </li>
                <li class="nn-item" ispopup="1" style="display: list-item;">
                    <div class="item-gr">
                        <div class="item-news">
                            <h4>
                                <a data-url="%linkItem2%" href="%linkItem2%" title="%titleItem2%"
                                    class="item-news-title">%titleItem2%</a>
                            </h4>
                            <a data-url="%linkItem2%" href="%linkItem2%" class="item-news-thumb"> <i><img
                                        src="%linkImgItem2%" alt="%titleItem2%"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nn-item" ispopup="0" style="display: list-item;">
                    <div class="item-gr">
                        <div class="item-news">
                            <h4>
                                <a data-url="%linkItem3%" href="%linkItem3%" title="%titleItem3%"
                                    class="item-news-title">%titleItem3%</a>
                            </h4>
                            <a data-url="%linkItem3%" href="%linkItem3%" class="item-news-thumb"> <i><img
                                        src="%linkImgItem3%" alt="%titleItem3%"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nn-item" ispopup="1" style="display: list-item;">
                    <div class="item-gr">
                        <div class="item-news">
                            <h4>
                                <a data-url="%linkItem4%" href="%linkItem4%" title="%titleItem4%"
                                    class="item-news-title">%titleItem4%</a>
                            </h4>
                            <a data-url="%linkItem4%" href="%linkItem4%" class="item-news-thumb"> <i><img
                                        src="%linkImgItem4%" alt="%titleItem4%"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>