<div class="box" id="box__tuThuoc">
    <div class="box__container">
        <div class="box__brand">
            <div class="box__brand--left">
                <div class="brand__logo--left">
                    <img src="https://demo.admicro.vn/dtg/images/Vector.png" alt="logo">
                </div>
                <div class="brand__text--left">
                    <h5 class="text--content">Tủ thuốc</h5>
                    <h5 class="text--content">gia đình</h5>
                </div>
            </div>
            <div class="box__logo--right">
                <div class="box__logo--item">
                    <h5 class="logo--text"> Não khoẻ - Sống vui</h5>
                </div>
            </div>
        </div>
        <div class="box__content">
            <div class="content__border ">

            </div>
            <div class="content__image">

            </div>
            <div class="content__border">

            </div>
            <div class="box__carousel">
             
                <div class="carousel__container">
                    <div class="carousel__content">
                        <div class="carousel__item">
                            <div class="carousel__item--image">
                                <img class="item__image" src="https://demo.admicro.vn/dtg/images/image%205-3.png" alt="">
                                <h5 class="item--description">Thuốc Bổ Não Cebraton</h5>
                            </div>
                            <div class="carousel__item--text">
                               <div class="text__logo">
                                <img src="https://demo.admicro.vn/dtg/images/image%2016.png" alt="logo">
                               </div>
                               <div class="text__detail">
                                    <p class="text__style">Không còn đau đầu, chóng mặt, mất ngủ</p>
                                    <p class="text__style">Vượt qua căng thẳng, stress mùa dịch</p>
                                    <p class="text__style">Phòng ngừa tai biến mạch máu não</p>
                               </div>
                            </div>
                        </div>
                        <div class="carousel__item">
                            <div class="carousel__item--image">
                                <img class="item__image" src="https://demo.admicro.vn/dtg/images/image%205-3.png" alt="">
                                <h5 class="item--description">Thuốc Bổ Não Cebraton</h5>
                            </div>
                            <div class="carousel__item--text">
                               <div class="text__logo">
                                <img src="https://demo.admicro.vn/dtg/images/image%2016.png" alt="logo">
                               </div>
                               <div class="text__detail">
                                    <p class="text__style">Không còn đau đầu, chóng mặt, mất ngủ</p>
                                    <p class="text__style">Vượt qua căng thẳng, stress mùa dịch</p>
                                    <p class="text__style">Phòng ngừa tai biến mạch máu não</p>
                               </div>
                            </div>
                        </div>
                        <div class="carousel__item">
                            <div class="carousel__item--image">
                                <img class="item__image" src="https://demo.admicro.vn/dtg/images/image%205-3.png" alt="">
                                <h5 class="item--description">Thuốc Bổ Não Cebraton</h5>
                            </div>
                            <div class="carousel__item--text">
                               <div class="text__logo">
                                <img src="https://demo.admicro.vn/dtg/images/image%2016.png" alt="logo">
                               </div>
                               <div class="text__detail">
                                    <p class="text__style">Không còn đau đầu, chóng mặt, mất ngủ</p>
                                    <p class="text__style">Vượt qua căng thẳng, stress mùa dịch</p>
                                    <p class="text__style">Phòng ngừa tai biến mạch máu não</p>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <ul class="control__container">
                        <!-- <li class="control__item active arrow right"></li>
                        <li class="control__item arrow left"></li>
                        <li class="control__item"></li> -->
                    </ul>
                </div>
            </div>
            <div class="content__border">

            </div>
        </div>
        <div class="box__note">
            <div class="note__content">
                <p class="note__text">Khuyến cáo: <a class="note__text--small">Sản phẩm này không phải là thuốc và không có tác dụng thay thế thuốc chữa bệnh</a></p>
            </div>
        </div>
    </div>
</div>