<div class="box" id="box__tuThuoc">
    <div class="box__container">
        <div class="box__brand">
            <div class="box__brand--left">
                <div class="brand__logo--left">
                    <img src="https://demo.admicro.vn/dtg/images/Vector.png" alt="logo">
                </div>
                <div class="brand__text--left">
                    <h5 class="text--content">Tủ thuốc</h5>
                    <h5 class="text--content">gia đình</h5>
                </div>
            </div>
            <div class="box__logo--right">
                <img src="https://demo.admicro.vn/dtg/images/image%2016.png" alt="logo">
            </div>
        </div>
        <div class="box__content">
            <div class="content__border border--left">

            </div>
            <div class="content__banner">
                <img class="banner__img" src="https://demo.admicro.vn/dtg/images/image%205-3.png" alt="">
            </div>
            <div class="content__border border--right">

            </div>
        </div>

        <div class="box__carousel">
            <div class="control">
                <div class="control__text">
                    <h5 class="text__content"><a class="text--left">1</a>/3<a class="text-right"></a></h5>
                </div>
                <div class="control__button">
                    <div class="button__item down active">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7"
                            fill="none">
                            <path d="M1 1.3067L5 5.51118L9 1.3067" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="button__item up">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" viewBox="0 0 10 7"
                            fill="none">
                            <path d="M9 5.5112L5 1.30673L1 5.5112" stroke="white" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <div class="line__container  line--top">
                    <hr class="line__item">
                </div>
            </div>
            <div class="carousel__container">
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205-1.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205-2.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205-1.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205-3.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205-2.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205-3.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205-3.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="item__container">
                        <div class="item__left">
                            <div class="carousel__item--image">
                                <img class="item__image"
                                    src="https://demo.admicro.vn/dtg/images/image%205-3.png"
                                    alt="">
                            </div>
                        </div>
                        <div class="item__right">
                            <div class="carousel__item--text">
                                <h5 class="item__title">Thuốc bổ não Cebraton</h5>
                                <p class="item__detail">Tăng cường chức năng hệ thần kinh trung ương, làm tăng hoạt
                                    hoá</p>
                            </div>
                            <div class="carousel__item--button"><button class="btn__item"><a class="btn__text"
                                        src="">Xem thêm </a><svg xmlns="http://www.w3.org/2000/svg" width="11"
                                        height="9" viewBox="0 0 11 9" fill="none">
                                        <path
                                            d="M10.3536 4.68705C10.5488 4.49179 10.5488 4.1752 10.3536 3.97994L7.17157 0.797962C6.97631 0.6027 6.65973 0.6027 6.46447 0.797962C6.2692 0.993224 6.2692 1.30981 6.46447 1.50507L9.29289 4.3335L6.46447 7.16192C6.2692 7.35719 6.2692 7.67377 6.46447 7.86903C6.65973 8.06429 6.97631 8.06429 7.17157 7.86903L10.3536 4.68705ZM0 4.8335H10V3.8335H0V4.8335Z"
                                            fill="#007880" />
                                    </svg></button></div>
                        </div>
                    </div>
                    <div class="line__container">
                        <hr class="line__item">
                    </div>
                </div>
            </div>
        </div>
        <div class="box__note">
            <div class="note__content">
                <p class="note__text">Khuyến cáo: <a class="note__text--small">Sản phẩm này không phải là thuốc và
                        không có tác dụng thay thế thuốc chữa bệnh</a></p>
            </div>
        </div>
    </div>
</div>