<div class="carouselJS">
    <div class="layout-carousel">
        <div class="carousel-logo">
            <img class="logo-image"
                src="https://cdn.adbro.me/inimage/mitsubishi/1905/1/images/mitsubishi-slider-logo.png" alt="logo" />
        </div>
        <div class="content-carousel">
            <div class="carousel-container">
                <div class="track">
                    <div class="card-container">
                        <div class="card">
                            <div class="card-img">
                                <img src="https://cdn.adbro.me/inimage/mitsubishi/1905/1/images/mitsubishi-slider-img1.png"
                                    alt="1">
                            </div>
                            <div class="card-button ">
                                <div class="button-gray active"><a class="text-button">XEM THÊM</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">

                            <div class="card-img">
                                <img src="https://cdn.adbro.me/inimage/mitsubishi/1905/1/images/mitsubishi-slider-img1.png"
                                    alt="1">
                            </div>
                            <div class="card-button">
                                <div class="button-gray"><a class="text-button">XEM THÊM</a></div>
                            </div>

                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">

                            <div class="card-img">
                                <img src="https://cdn.adbro.me/inimage/mitsubishi/1905/1/images/mitsubishi-slider-img1.png"
                                    alt="1">
                            </div>
                            <div class="card-button">
                                <div class="button-gray"><a class="text-button">XEM THÊM</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">

                            <div class="card-img">
                                <img src="https://cdn.adbro.me/inimage/mitsubishi/1905/1/images/mitsubishi-slider-img1.png"
                                    alt="1">
                            </div>
                            <div class="card-button">
                                <div class="button-gray"><a class="text-button">XEM THÊM</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">

                            <div class="card-img">
                                <img src="https://cdn.adbro.me/inimage/mitsubishi/1905/1/images/mitsubishi-slider-img1.png"
                                    alt="1">
                            </div>
                            <div class="card-button">
                                <div class="button-gray"><a class="text-button">XEM THÊM</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">

                            <div class="card-img">
                                <img src="https://cdn.adbro.me/inimage/mitsubishi/1905/1/images/mitsubishi-slider-img1.png"
                                    alt="1">
                            </div>
                            <div class="card-button">
                                <div class="button-gray"><a class="text-button">XEM THÊM</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-container">
                        <div class="card">

                            <div class="card-img">
                                <img src="https://cdn.adbro.me/inimage/mitsubishi/1905/1/images/mitsubishi-slider-img1.png"
                                    alt="1">
                            </div>
                            <div class="card-button">
                                <div class="button-gray"><a class="text-button">XEM THÊM</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <div class="controls-overplay-left">
                        <span class="arrow left">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                <path
                                    d="M192 448c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l137.4 137.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448z" />
                            </svg>
                        </span>
                    </div>
                    <div class="controls-overplay-right">
                        <span class="arrow right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                                <path
                                    d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" />
                            </svg></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>